header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    flex-grow: 2;
}
#logo img {
    max-width: 300px;
}
nav {
    flex-grow: 1;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav ul a {
    
    text-decoration: none;
}
main {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    display: flex;
    flex-direction: column;
}
#article-pricing {
    flex-direction: row;
    justify-content: space-between;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-feture {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}
.icon {
    display: flex;
    flex-shrink: 4;
}
.desc {
    flex-shrink: 1;
}
.sec-feture img {
    
}
footer {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
footer ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
}
footer p {
    margin-top: 0;
}